# Variables de Entorno del Proyecto NEU Logistik
# Rellena estos campos con tu información. Este archivo JAMÁS se sube a internet.

PORT=3000
EMAIL_USER=escribe_aqui_el_correo_remitente@gmail.com
EMAIL_PASS=las_16_letras_de_tu_app_password
EMAIL_RECEIVER=correo_de_quien_recibira_ventas@tuempresa.com
